.btn{
    border-radius: 100px;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    padding: var(--button-pedding-y) var(--button-pedding-x); 
    &-badge{
        color: var(--disable);
        font-size: 12px;
        padding: 5px 20px;
        &.active{
            background: var(--disable);
            color: var(--bg-light-gray)
        }
    }
    &--icon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: initial;
        svg{
            width: 20px;
            margin-right: 5px;
        }
    }
    &--func{
        border-radius: var(--radius);
        padding: 10px 20px;
        background: var(--bg-light-gray);
        color: var(--disable);
        &:hover{
            background: var(--disable);
            color: var(--bg-light-gray);
        }
    }
    &-add-product{
        background: var(--focus);
        color: var(--bg-light-gray);
    }
    &-link{
        color: var(--disable);
    }
    &-tab{
        border-radius: var(--radius);
        padding: 10px 40px;
        color: var(--disable);
        &:focus,
        &:active{
            border-color: var(--success) !important;
            background: var(--success) !important;
            color: var(--white) !important;
        }
        &.active{
            background: var(--success);
            color: var(--white)
        }
    }
} 