:root{
    --radius: 4px;
    --button-font-size: 14px;
    --button-font-weight: 700;
    --button-pedding-y: 5px;
    --button-pedding-x: 7px;
    --bg-light: #FDFAFE;
    --bg-light-gray: #F3F0F9;
    --bg-light-green: #ECFAF6;
    --bg-light-purple: #ead4f5;
    --bg-dark: #000000;
    --focus: #A451CB;
    --success: #05D1D1;
    --disable: #857E97;
    --text: #242229;
    --white: #FFFFFF;
    --black: #000000;
    --text-light: #ACACAC;
}

.bg-dark{
    background: var(--bg-dark);
}
