.chart{
    max-height: 450px;
    width: 100%;
    canvas {
        background: var(--bg-light);
        padding: 20px;
        border-radius: var(--radius);
        border: 1px solid var(--bg-light-gray);
        max-height: 350px;
    }
    &--header{
        padding: 20px 0;
        h5{
            margin: 0;
            padding: 0;
        }
    }
    &--buttons {
        .sorting {
            background: transparent;
            padding: 0;
            border: none;
            padding-right: 20px;
            span{
                color: var(--disable);
                font-size: 12px;
                padding-right: 10px;
            }
        }
        .btn{
            
        }
    }
}