.data-list{
    &--thumbnail{
        max-width: 60px;
        img{
            border-radius: var(--radius);
        }
    }
    &--date{
        p{
            font-size: 12px;
            margin: 0;
            padding: 0;
        }
    }
    &--link{
        button{
            font-size: 11px;     
        }
    }
    .popup{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        &-content{
            position: relative;
            background: var(--white);
            padding: 35px;
            border-radius: 4px;
            box-shadow: 0px 0px 60px 0px #0003;
            .close{
                position: absolute;
                right: 0;
                top: 0;
                svg{
                    margin: 0;
                }
            }
        }
    }
}