.doughnut-chart{
    background: var(--white);
    padding: 20px;
    border-radius: var(--radius);
    width: 300px;
    &--container{
        h3{
            font-size: 16px;
            margin: 0;
            padding: 0;
            font-weight: 500;
            color: var(--black);
        }
        p{
            font-size: 14px;
            color: var(--text-light);
            margin: 0;
            padding: 0;
            padding-top: 5px;
        }
    }
    &--chart{
        padding: 15px 20px 20px 20px;
        box-shadow: 0 0 60px 0px #0000000f;
        border-radius: 100%;
        background: var(--white);
        width: 230px;
        height: 230px;
        display: block;
        margin: 50px auto 0 auto;
    }
}