.drop-down{
    position: relative;
    min-width: 160px;
    .defualt{
        width: 100%;
        background: var(--bg-light);
        border-radius: var(--radius);
        border: 1px solid var(--bg-light-gray);
        padding: 6px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 20px;
       .label{
            color: var(--disable);
            font-size: 14px;
            font-weight: normal;
       }
       .icon{
            svg{
                width: 15px;
            }
       }
    }
    &--list{
        position: absolute;
        z-index: 1;
        width: 100%;
        background: var(--white);
        border-radius: var(--radius);
        border: 1px solid var(--bg-light-gray);
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
        margin-top: 10px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{ 
                padding: 10px 20px;
                &:hover{
                    background: var(--bg-light-gray);
                }
                button{
                    background: transparent;
                    border: none;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    color: var(--disable);
                    font-size: 12px;
                    font-weight: 500;                    
                }
            }
        }
    }
}