.list{
    .single-list{
        padding: 25px 20px;
        background: var(--bg-light);
        border-bottom: 1px solid var(--bg-light-gray);
        position: relative;
        &.active{
            background: var(--bg-light-gray);
        }
        &-container{
            justify-content: space-between;
            align-items: center;
        }
        .selection{
            max-width: 50px;
            position: absolute;
            left: 25px;
        }
        .single-col{  
            &.single-func{
                position: absolute;
                right: 0;
            }
            a{
                color: var(--disable);
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
            }
            p{
                font-size: 14px;
                color: var(--disable);
            }
            
            &.status-col{
                max-width: 150px;
                display: flex; 
            }
            .list-status{
                .badge{
                    border-radius: var(--radius);
                    background: var(--success);
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px 10px;
                }
            }
            .list-amount{
                margin-right: 100px;
                .badge{
                    background: var(--disable);
                    border-radius: 20px;
                    font-size: 12px;
                    font-weight: 500;
                    padding: 5px 10px;                    
                }
            }
            .list-options{
                button{
                    padding: 0;
                    border: none;
                    background: transparent;
                    svg{
                        width: 30px;
                    }
                }
            }
        }
    }
}