.product-header{
    .product-image{
        max-width: 250px;
    }
    .content{
        h1{
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        p{
            font-size: 16px;
            color: var(--disable);
        }
        .content-meta{
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                li{
                    margin-bottom: 6px;
                    flex: 50%;
                    p{
                        font-size: 12px;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}