.product-tab{
    padding-top: 70px;
    &--header{
        padding: 15px 30px;
        background: var(--bg-light);
        border-radius: var(--radius);
        border: 1px solid var(--bg-light-gray);
        
    }
}