.single-progress-bar{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    .progress-label{
        flex: auto;
        label{
            font-size: 14px;
            color: var(--disable);
        }
    }
    .progress{
        flex: auto;
        width: 100%;
        max-width: 400px;
        height: 30px;
        background: var( --bg-light-purple);
        .progress-bar{
            background: var( --focus);
        }
    }
}