.project-menu{
    background: var(--white);
    border: 1px solid var(--bg-light-gray);
    border-radius: var(--radius);
    padding: 10px 20px;
    max-width: 180px;
    box-shadow: 0px 0px 10px 0px #0000000d;
    position: absolute;
    z-index: 1;
    right: 50px;
    top: 40px;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            margin: 10px 0;
            button{
                background: transparent;
                border: none;
                padding: 0;
                margin: 0;
                color: var(--disable);
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}