.search-input{
    &--input{
        background: var(--bg-light);
        border-radius: var(--radius);
        border: 1px solid var(--bg-light-gray);
        padding: 6px 20px;
        line-height: 20px;
        color: var(--disable);
        font-size: 14px;
        font-weight: normal;
        min-width: 250px;
    }
}