.signal-block{
    background: var(--bg-light-gray);
    padding-top: 30px;
    &--grid{
        display: flex;
        .right{
            flex: auto;
            .signal-content{
                .chart{
                    &--header{
                        padding-top: 0;
                    }
                    canvas{
                        width: 100% !important;
                    }
                }
            }
        }
    }
}