.sorting{
    background: var(--bg-light);
    border-bottom: 1px solid var(--bg-light-gray);
    border-radius: 8px 8px 0 0 ;
    padding: 25px 20px;
    justify-content: space-between;
    position: relative;
    .select-option{ 
        max-width: 50px; 
        position: absolute;
        left: 25px;
     }    
    .single-sort{ 
        &.status-sort{
            max-width: 150px;
            display: flex;
            justify-content: center;
        }
        button{
            color: var(--disable);
            font-weight: 500;
            background: transparent;
            border: none;
            display: flex;
            align-items: center;
            font-size: 12px;
            margin: 0;
            padding: 0;
            span{
                padding-right: 5px;
            }
            svg{
                width: 20px;
            }
        }
    }
}